{% import "components/log_table_component.html" as log_component %}
{% import "components/navbar_component.html" as navbar_component %}
{% import "components/incident_fill_component.html" as fill_component %}
{% import "components/evacuee_component.html" as evacuee_component %}
{% import "components/contactperson_component.html" as contact_component %}
<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ t['admin_inc_title'] }}</title>
</head>

<body>
    {{ navbar_component.render_navbar(navbar, t=t) }}

    <main class="container mx-auto py-10 px-6 flex-grow bg-gray-100 text-gray-800 rounded-lg">
        <form method="POST" action="{{ url_for('admin_reg.handle_form') }}">
            <!-- Hidden inputs -->
            <input type="hidden" name="evakuert_id" value="{{ evakuert.EvakuertID if evakuert else '' }}">
            <input type="hidden" name="kontakt_person_id" value="{{ evakuert.KontaktPersonID if evakuert else '' }}">
            <input type="hidden" name="status_id" value="{{ evakuert.StatusID if evakuert else '' }}">

            {{ fill_component.render_incident_fill(evakuert, kriser, t=t) }}

            <hr class="my-12 border-t border-gray-300">

            <!-- Render Evakuertes Info Component -->
            {{ evacuee_component.render_evacuee(evakuert, t=t) }}

            <h1 class="text-l text-center font-bold mb-4">{{ t['log_table_heading'] }}</h1>
            <div class="">
                {{ log_component.render_log_table(logs, t=t) }}
            </div>

            <hr class="my-12 border-t border-gray-300">

            <!-- Render Kontaktperson Info Component -->
            {{ contact_component.render_contactperson(evakuert, t=t) }}

            <div class="text-center">
                <button type="submit" class="bg-green-600 text-white px-6 py-2 rounded">{{ t['confirm'] }}</button>
            </div>
        </form>
    </main>

    <script src="{{ url_for('static', filename='js/register_logic.js') }}"></script>

    <!-- Confirmation Modal -->
    <div id="confirmationModal" class="fixed inset-0 bg-black bg-opacity-50 hidden flex justify-center items-center">
        <div class="bg-white p-6 rounded-lg max-w-md w-full">
            <h2 class="text-2xl font-bold mb-4">{{ t['confirmation_modal_heading'] }}</h2>
            <div id="confirmationContent" class="mb-4 overflow-auto max-h-80 text-l"></div>
            <div class="flex justify-end">
                <button id="cancelButton" class="mr-2 bg-gray-300 px-4 py-2 rounded text-lg">{{ t['confirmation_modal_back'] }}</button>
                <button id="confirmButton" class="bg-green-600 text-white px-4 py-2 rounded text-lg">{{ t['confirmation_modal_confirm'] }}</button>
            </div>
        </div>
    </div>
</body>

</html>