{% import "components/navbar_component.html" as navbar_component %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.tailwindcss.com"></script>
	<title>{{ t['evacuee_search_title'] }}</title>
	<link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body>

	{{ navbar_component.render_navbar(navbar, t=t) }}

    <main class="container mx-auto py-10 px-6 flex-grow bg-gray-100 text-gray-800 rounded-lg">
        <h1 class="text-4xl font-bold text-center">{{ t['evacuee_search_heading'] }}</h1>

        <br>

        <form class="max-w-md mx-auto" method="POST">   
            <label for="evakuertID" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">{{ t['evacuee_search'] }}</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" name="evakuertID" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="{{ t['evacuee_placeholder'] }}" required />
                <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{{ t['evacuee_search'] }}</button>
            </div>
        </form>
        
        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="mt-4 text-center">
                    {% for category, message in messages %}
                        <p class="text-red-500">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
                    <!-- Language Buttons -->
    <div class=" py-2">
		<div class="container mx-auto flex justify-end space-x-4 px-6">
			<a href="{{ url_for('evacuee_search', lang='en') }}" class="px-4 py-2 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-600 transition">{{ t['english'] }}</a>
			<a href="{{ url_for('evacuee_search', lang='no') }}" class="px-4 py-2 bg-green-500 text-white rounded-lg shadow-md hover:bg-green-600 transition">{{ t['norwegian'] }}</a>
		</div>
    </div>

    </main>

</body>