<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ t['title'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/output.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 text-gray-800 font-sans flex flex-col min-h-screen">
    <!-- Navigation Bar -->
    <nav class="bg-white shadow-md">
        <div class="container flex justify-between items-center mx-auto py-4 px-6">
            <!-- Left Section: Language Change -->
            <div class="flex space-x-4">
                <a href="{{ url_for('index', lang='en') }}" class="px-4 py-2 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-600 transition">{{t['english']}}</a>
                <a href="{{ url_for('index', lang='no') }}" class="px-4 py-2 bg-green-500 text-white rounded-lg shadow-md hover:bg-green-600 transition">{{t['norwegian']}}</a>
            </div>
            <!-- Right Section: Login Button -->
            <div>
                <a href="{{ url_for('auth.login') }}" class="px-5 py-2.5 bg-blue-700 text-white rounded-lg shadow-md hover:bg-blue-800 transition">{{t['login']}}</a>

            </div>
        </div>
    </nav>

    <main class="container mx-auto text-center py-20 px-6 flex-grow">
        <!-- Logo and Title Container -->
        <div class="flex items-center justify-center mb-6">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-red-700 mr-3" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"/>
            </svg>
            <span class="text-3xl font-bold text-gray-900">ExitNode</span>
        </div>
        <p class="text-lg text-gray-600 max-w-2xl mx-auto leading-relaxed mb-12">
            {{ t['welcome_paragraph'] }}
        </p>

        <!-- Button Container -->
        <div class="flex justify-center space-x-6">
            <!-- Button 1: Register -->
            <a href="{{ url_for('registrer.register') }}"
               class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-10 px-10 rounded-lg shadow-lg text-xl flex items-center justify-center w-40 h-40">
                {{ t['nav_register'] }}
            </a>

            <!-- Button 2: Evacuee Update -->
            <a href="{{ url_for('evacuee_search') }}"
               class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-10 px-10 rounded-lg shadow-lg text-xl flex items-center justify-center w-40 h-40">
                {{ t['nav_evacuee_update'] }}
            </a>
        </div>
    </main>

    {% include 'footer.html' %}
</body>
</html>