<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Required</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center h-screen bg-gray-100">
    <div class="bg-white p-6 rounded-lg shadow-lg text-center">
        <h1 class="text-2xl font-bold text-gray-800">Registrering Påkrevd</h1>
        <p class="mt-4 text-gray-600">Gjerne gå til en ansatt for å registrere deg med bånd.</p>
        <div class="mt-6 space-x-4">
            <a href="{{ url_for('startID') }}" class="px-6 py-3 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-600 transition">Gå til start siden</a>
        </div>
    </div>
</body>
</html>
