<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    .hover-effect:hover {
      transform: translateY(-5px);
      transition: transform 0.3s ease;
    }
  </style>
</head>
<body class="bg-white p-4 flex flex-col items-center justify-center min-h-screen">

  <!-- Registered User Section -->
  <div class="w-full max-w-md p-6 mt-6 bg-white rounded-lg shadow-lg border border-red-500">
    <label for="ID" class="block text-sm font-medium text-red-500 mb-2">
    </label>
    <div class="flex flex-col gap-4 md:flex-row">
      <a
        href="{{ url_for('iot_login') }}"
        class="block w-full text-center bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 active:bg-blue-700 text-white font-semibold py-3 px-6 rounded-lg transition duration-200"
      >
        Logg inn(For deg som har registert deg før på systemet)
      </a>
      <a
        href="{{ url_for('newuser') }}"
        class="block w-full text-center bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 active:bg-blue-700 text-white font-semibold py-3 px-6 rounded-lg transition duration-200"
      >
        Ny bruker(For deg som IKKE har registert deg for på systemet)
      </a>
    </div>
    <p class="mt-2 text-sm text-uiared">
      Legg til ID som du har fått fra registeringen eller skriv inn ditt fulle navn med fornavn og etternavn
    </p>
  </div>

</body>
</html>
