{% macro render_navbar(navbar, t={}) %}
<navbar class="bg-gray-800 p-4 flex justify-between items-center">
    <div class="flex items-center space-x-2">
        <button class="bg-yellow-300 text-black font-bold py-2 px-4 rounded">{{ t['navbar_logout'] }}</button>
        <a href="{{ url_for('admin_page') }}">
            <button class="bg-yellow-300 text-black font-bold py-2 px-4 rounded">{{ t['navbar_return'] }}</button>
        </a>
    </div>
    <div class="flex items-center space-x-4">
        <span class="text-lg font-bold text-white">{{ t['navbar_logged_in'] }}</span>
    </div>
</navbar>
{% endmacro %}